<!-- 
<div class="structural-directive-ngIf">
    <div class="display-card-positive" *ngIf="status">
        <p>Positive</p>    
    </div>
    <div class="display-card-negative" *ngIf="!status">
        <p>Negative</p>    
    </div>
    <button (click)="onClickBtn()">Check Status</button>
</div> -->

<div class="structural-directive-ngFor">
    <div *ngFor="let item of productList">
        <p>{{item}}</p>
    </div>

    <div *ngFor="let key of mobileList">
       <a>{{key.name|uppercase}} {{key.price}}</a>
    </div>
</div>